.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Home, .Login, .Logout {
  width: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.CosmetCard {
  border: 1px solid #dadfea;
  border-radius: 5px;
  margin: 15px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.logo {
  border-radius: 25px;
}

#logo {
  padding-right: 0px;
}

#title {
  padding-left: 0px;
}


.individualcosmettop {
  padding-top: 15px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.individualcosmetinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indivisualcosmetimage {
  padding: 15px;
}

.aboutcosmet {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking {
  border: 1px solid #dadfea;
  border-radius: 5px;
  padding: 15px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  border: 1px solid #dadfea;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
}

.reviewcards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.leavereview {
  padding: 10px;
  width: 100%;
}

.profile {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.userinfobox {
  border: 1px solid #dadfea;
  padding: 15px;
}

.userinfo {
  background-color: #dadfea;
  padding: 10px;
}

.findertitle {
  padding-top: 20px;
}